%div.flash__box

%div.wrapper
  = render 'shared/side_bar'
  %div.main
    %div.main__header
      %div.main__header__box
        %h2 みんなで遊ぶ会
        %h4 Member:
      %a
        %div.main__header__edit Edit

    %div.messages
      = render @messages

    %div.form
      %div.formbox
        = form_for [@group, @message] do |f|
          %div.inputbox
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            %div.form__message__inputbox
              = f.label :image, class: 'form__message__inputbox__image' do
                = fa_icon 'image', class: 'icon'
                = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit__btn'
